---
import GithubIcon from "@/icons/github.svelte";
import TwitterIcon from "@/icons/twitter.svelte";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogPosts from "@/components/BlogPosts.astro";

// 全記事取得
const posts = (await Astro.glob("./posts/*.md"))
  .map(({ url, frontmatter: { created_at, title } }) => ({
    url,
    created_at: new Date(created_at),
    title,
  }))
  .sort((a, b) => b.created_at.valueOf() - a.created_at.valueOf());
---

<BaseLayout lang="ja" title="@macoshita" description="@macoshita のブログ">
  <style>
    .links {
      margin-bottom: 1rem;
    }
    .link {
      display: inline-block;
      color: var(--nc-tx-2);
      margin-right: 0.5rem;
      width: 2rem;
      height: 2rem;
    }
  </style>
  <main>
    <section class="links">
      Software Engineer ❤ Flutter/Dart, Elixir, Svelte, etc.<br />
      <a class="link" href="https://github.com/macoshita"><GithubIcon /></a>
      <a class="link" href="https://twitter.com/macoshita"><TwitterIcon /></a>
    </section>

    <BlogPosts {posts} />
  </main>
</BaseLayout>
