---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate } from "@/utils";

// 全記事取得
const posts = (await Astro.glob("./posts/*.md"))
  .map(({ url, frontmatter: { created_at, title } }) => ({
    url,
    date: new Date(created_at),
    title,
  }))
  .sort((a, b) => b.date.valueOf() - a.date.valueOf());
---

<BaseLayout>
  <style>
    .link {
      font-size: 2rem;
      color: var(--nc-tx-2);
    }
    .article {
      margin-bottom: 1rem;
      text-decoration: none;
    }
    .article time {
      color: var(--nc-ac-tx);
      font-size: 0.8rem;
    }
    .article h2 {
      font-weight: normal;
      font-size: 1rem;
      padding: 0;
      border: 0;
    }
  </style>
  <main>
    <p>
      Software Engineer ❤ Flutter/Dart, Elixir, Svelte, etc.<br />
      <a class="link" href="https://github.com/macoshita">
        <ion-icon name="logo-github"></ion-icon>
      </a>
      <a class="link" href="https://twitter.com/macoshita">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
    </p>

    <section>
      {posts.map(post => (
        <article class="article">
          <time>{formatDate(post.date)}</time>
          <h2><a href={post.url}>{post.title}</a></h2>
        </article>
      ))}
    </section>
  </main>
</BaseLayout>
