---
export interface Props {
  tag: string;
  className?: string;
}

const { tag, className } = Astro.props;
---

<a class={className} href={`/tags/${tag}`}>{tag}</a>

<style>
  a {
    display: inline-block;
    width: fit-content;
    border-radius: 999px;
    background-color: var(--nc-bg-3);
    padding: 0.2em 1em;
    color: var(--nc-fg-1);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }

  a:active {
    transform: scale(0.95);
  }
</style>
