---
import BaseHead from "@/components/BaseHead.astro";

export interface Props {
  lang: string;
  title: string;
  description: string;
  og_image?: string;
}

const { lang, title, description, og_image } = Astro.props;
---

<html {lang}>
  <head>
    <BaseHead {title} {description} {og_image} />
  </head>
  <body>
    <style>
      .blog-title {
        color: var(--nc-tx-1);
        text-decoration: none;
      }
    </style>
    <header>
      <h1><a class="blog-title" href="/">@macoshita</a></h1>
    </header>
    <slot />
  </body>
</html>
