---
import BaseHead from "@/components/BaseHead.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.svelte";

export interface Props {
  lang: string;
  title: string;
  description: string;
  ogImage?: string;
}

const { lang, title, description, ogImage } = Astro.props;
---

<html {lang}>
  <head>
    <BaseHead {title} {description} {ogImage} />
  </head>
  <body>
    <style>
      .blog-title {
        color: var(--nc-tx-1);
        text-decoration: none;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      header h1 {
        margin: 0;
      }
    </style>
    <header>
      <h1><a class="blog-title" href="/">@macoshita</a></h1>
      <ThemeSwitcher client:load />
    </header>
    <slot />
  </body>
</html>
