---
import Tag from "@/components/Tag.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate, getPostMeta } from "@/utils";

const meta = getPostMeta(
  Astro.props.frontmatter,
  Astro.props.compiledContent?.(),
  new URL(Astro.url.pathname, Astro.site)
);
---

<BaseLayout {...meta}>
  <style>
    .info {
      margin-bottom: 24px;
    }
    .time {
      color: var(--nc-ac-tx);
    }
    .title {
      margin: 0 0 8px;
      padding: 0;
    }
    .tags {
      font-size: 0.8rem;
    }
  </style>
  <section class="info">
    <time class="time">{formatDate(meta.createdAt)}</time>
    <h1 class="title">{meta.postTitle}</h1>
    <div class="tags">{meta.tags.map((tag) => <Tag {tag} />)}</div>
  </section>
  <slot />
</BaseLayout>
