---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate, getPostMeta } from "@/utils";

const meta = getPostMeta(Astro.props.content, Astro.canonicalURL);
---

<BaseLayout {...meta}>
  <style>
    .time {
      color: var(--nc-ac-tx);
    }
    .title {
      padding: 0;
      margin-bottom: 2rem;
    }
  </style>
  <time class="time">{formatDate(meta.created_at)}</time>
  <h1 class="title">{meta.title}</h1>
  <slot />
</BaseLayout>
